form {
  padding: 8px 12px;
}

.window{
  padding: 30px 30px 30px 30px;
  height: 196px;
  width: 230px;
}

.bg-warning{
  border-radius: 5px;
}

.keypad-row:after {
  clear: both;
  content: "";
  display: table;
}

.key-square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

#div-col{
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

#div-content {
  padding: 10px 10px;
}

#div-display {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  text-align: right;
  height: 34px;
  width: 170px;
  font-size: 24px;
  font-weight: bold;
  resize: horizontal;
}